src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite"
	version="EE-3.7.1" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <batch:job name="syncOpportunitiesBatch" max-failed-records="-1">
        <batch:process-records>
            <batch:step name="findCustomer" accept-policy="ALL">
                <logger message="Input Opportunity: #[payload]" level="INFO" doc:name="Logger"/>
                <enricher source="#[payload]" target="#[recordVars['custInNetsuite']]" doc:name="store in custInNetsuite">
                    <processor-chain doc:name="Processor Chain">
                        <netsuite:get-record config-ref="Netsuite" doc:name="get Customer in NetSuite">
                            <netsuite:record-ref externalId="#[payload.Account.Id]" type="CUSTOMER"/>
                        </netsuite:get-record>
                    </processor-chain>
                </enricher>
                <logger message="Customer: #[recordVars.custInNetsuite]" level="INFO" doc:name="Logger"/>
            </batch:step>
            <batch:step name="prepareCustomerId" accept-policy="ALL">
                <choice doc:name="doesCustomerExist">
                    <when expression="#[recordVars['custInNetsuite'] == null]">
                        <enricher source="#[payload.getExternalId()]" target="#[recordVars['idOfCustomerInNetsuite']]" doc:name="store result in idOfCustomerInNetsuite">
                            <processor-chain doc:name="Processor Chain">
                                <dw:transform-message doc:name="Account to Customer">
                                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	companyName: payload.Account.Name,
	externalId: payload.Account.Id,
	fax: payload.Account.Fax,
	phone: payload.Account.Phone,
	subsidiary: {
		internalId: p('nets.subsidiaryId')
	}
}]]></dw:set-payload>
                                </dw:transform-message>
                                <netsuite:add-record config-ref="Netsuite" recordType="CUSTOMER" doc:name="add Customer">
                                    <netsuite:attributes ref="#[payload]"/>
                                </netsuite:add-record>
                            </processor-chain>
                        </enricher>
                    </when>
                    <otherwise>
                        <batch:set-record-variable variableName="idOfCustomerInNetsuite" value="#[recordVars.custInNetsuite['externalId']]" doc:name="set idOfCustomerInNetsuite to existing value"/>
                    </otherwise>
                </choice>
                <logger message="Customer ID: #[recordVars.idOfCustomerInNetsuite]" level="INFO" doc:name="Logger"/>
            </batch:step>
            <batch:step name="upsertInventoryItems" accept-policy="ALL">
                <enricher source="#[payload]" target="#[recordVars['itemsUpsertResult']]" doc:name="upsert invertoryItems">
                    <processor-chain doc:name="Processor Chain">
                        <dw:transform-message doc:name="OpportunityLineItems To InventoryItems">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
using (records = payload.OpportunityLineItems.records)
[{
	cost: records.ListPrice,
	displayName: records.Name,
	externalId: records.Product2Id,
	itemId: records.ProductCode,
	quantityAvailable: records.Quantity,
	subsidiaryList: {
		recordRef: [{
			internalId: p('nets.subsidiaryId')
		}]
	}
}]]]></dw:set-payload>
                        </dw:transform-message>
                        <netsuite:upsert-list config-ref="Netsuite" recordType="INVENTORY_ITEM" doc:name="upsert inventoryItems">
                            <netsuite:records ref="#[payload]"/>
                        </netsuite:upsert-list>
                    </processor-chain>
                </enricher>
            </batch:step>
            <batch:step name="createSalesOrderInNetsuite" accept-expression="!(payload is NullPayload)" accept-policy="ALL">
                <dw:transform-message doc:name="prepare data to insert Sales Order">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	entity: {
		externalId: recordVars.idOfCustomerInNetsuite
	},
	externalId: payload.Id,
	itemList: {
		item: using (records = payload.OpportunityLineItems.records) [{
			amount: records.ListPrice,
			item: {
				externalId: records.Product2Id
			},
			quantity: records.Quantity
		}],
		replaceAll: true
	},
	orderStatus: "PENDING_FULFILLMENT"
}]]></dw:set-payload>
                </dw:transform-message>
                <netsuite:upsert-record config-ref="Netsuite" recordType="SALES_ORDER" doc:name="upsert Sales Order in Netsuite">
                    <netsuite:attributes ref="#[payload]"/>
                </netsuite:upsert-record>
                <logger message="Upserted sales order with internal ID: #[payload.getInternalId()] " level="INFO" doc:name="log Upsert result"/>
            </batch:step>
        </batch:process-records>
    </batch:job>
    <flow doc:description="This flow is the entry point to the Kick business logic.  This flow should control the direction of the application, and it should be called by the different endpoints that your Kick exposes to trigger it." name="mainFlow" processingStrategy="synchronous">
        <batch:execute name="syncOpportunitiesBatch" doc:name="syncOpportunitiesBatch"/>

        <exception-strategy doc:name="Reference Exception Strategy" ref="defaultChoiceExceptionStrategy"/>
    </flow>


</mule>