src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"  
xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd">
     
	<!-- In this file you should declare all your inbound endpoints and control the access to your application -->
	
    <flow name="triggerFlow" processingStrategy="synchronous">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="${poll.frequencyMillis}" startDelay="${poll.startDelayMillis}"/>
            <watermark variable="lastQueryDate" default-expression="${watermark.default.expression}" selector="MAX" selector-expression="#[payload.LastModifiedDate]"/>
            <sfdc:query config-ref="Salesforce" query="SELECT Id, LastModifiedDate, Name, Amount, StageName,  (SELECT Description,Id,ListPrice,Name,ProductCode,Quantity,TotalPrice,Product2Id FROM Opportunity.OpportunityLineItems ORDER BY SortOrder),Account.Id,Account.Name,Account.Description,Account.Fax,Account.Phone FROM Opportunity WHERE ((((StageName = 'Closed Won' AND HasOpportunityLineItem = true) AND Amount &gt;= 100000) AND Account.Id != null) AND LastModifiedDate &gt; #[flowVars.lastQueryDate])
" fetchSize="${page.size}" doc:name="Query SalesForce for Opportunities including Account and Products info"/>
        </poll>
        <logger message="Retrieved new data from SalesForce..." level="INFO" doc:name="Logger"/>
        <flow-ref name="mainFlow" doc:name="mainFlow"/>
    </flow>
    
</mule>
